body {
	font-family: "Poiret One", Arial, sans-serif;
	text-align: center;
	overflow: hidden;
	margin: 0;
	background: black;
	color: white;
}

.page {
	position:absolute;

	top:45%;
	left:50%;

	padding:15px;

	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);

}

.content {
	background: #202020;
}

h1 {
	font-size: 36px;
	font-family: "Poiret One", Arial, sans-serif;
}

h2 {
	font-size: 35px;
}

ul {
	padding: 0;
	list-style-type: none;
	font-size: 23px;
}

a {
	text-decoration: none;
}

img {
	max-width: 40vh;
	border-style: solid;
	border-width: 5px;
	border-color: #AB47BC;
	border-radius: 45vh;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: #AB47BC;
}

a:active {
	color: #AB47BC;
}

footer {
	margin-top:28px;
	position:fixed;
	bottom:0px;
	height:28px;
	width:100%;
}

li {
	margin: 10px;
}

